<div class="search">
  <%= form_tag search_audios_path, :method => :get do %>
    <p><%= text_field_tag :query, params[:query] %> <%= submit_tag t('Search') %></p>
  <% end %>
</div>

<br/><br/></br>

<% if @audios.empty? %>
  <%= "<center><h3>#{I18n.t('No Content Found')}.</h3></center>".html_safe %>
<% else %>
  <center>

  <%= paginate @audios, :window => 8 %>

  <table class="table table-striped">
    <tbody>
      <% @audios.each do |audio| %>
        <tr>
          <td><%= link_to image_tag('/assets/Audio.jpg', :width => '75'), view_audios_path(audio), :id => "video-box" %></td>
          <td style="font-weight: bold;"><%= link_to audio.title, audio_path(audio) %></td>
          <td><%= audio.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </center>
<% end %>
