<%- model_class = Post -%>
<div class="page-header"></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:license_id) %></th>
    </tr>
  </thead>
  <tbody>
    <% contents.each do |content| %>
      <tr>
        <td><%= link_to content.id %></td>
        <td><%= content.title %></td>
        <td><%= content.user_id %></td>
        <td><%= content.license_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
