<% if @posts.length > 0 %>
  <center>
  <ul id="arteria-carousel-posts" class="jcarousel-skin-posts">
    <% @posts.each do |post| %>
       <li>
         <span style="font-size: 18px; float: left;"><%= link_to post.title, post %></span>
         <br/><br/>
         <div style="text-align:justify;">
           <%= truncate((strip_tags(sanitize(post.content, :tags => []))), :length => 680) %> 
         </div>
         <b><%= link_to I18n.t('Read More'), post, :style => "color: #B0201F; float: left;" if post.content.length > 680 %></b>
       </li>
    <% end %>
  </ul>
  </center>
<% end %>

<% @galleries.each do |gallery| %>
  <% if gallery.items.length > 0 %>
        <ul id="arteria-carousel-home" class="jcarousel-skin-home">
          <% gallery.items.each do |item| %>
            <% if item.image %> 
              <li>
                <%= link_to (image_tag item.image.image.url(:medium)), item.image.image.url, :id => "image-box", :alt => item.image.title %>
              </li>
            <% end %>
            <% if item.video %>
              <li>
                <%= link_to (image_tag item.video.image.url(:thumb)), item.video.image.url, :id => "image-box", :alt => item.video.title %>
              </li>
            <% end %>
            <% if item.post %>
              <li>
                <b><%= link_to item.post.title, item.post %></b>
                <br/><br/>
                <div style="text-align:justify;">
                  <%= truncate((strip_tags(sanitize(item.post.content, :tags => []))), :length => 384) %> 
                </div>
                <b><%= link_to I18n.t('Read More'), item.post, :style => "color: #B0201F;" if item.post.content.length > 384 %></b>
              </li>
            <% end %>
          <% end %>
        </ul>
  <% end %>
<% end %>
