<% if @posts.length > 0 %>
  <ul id="arteria-carousel-posts" class="jcarousel-skin-posts">
    <% @posts.each do |post| %>
       <li>
         <%= link_to post.title, post, :style => "font-size: 21px; font-weight:bold; float: left;" %>
         <br/><br/>
         <div style="text-align:justify; font-size: 16px;">
           <!-- <%= truncate((strip_tags(sanitize(post.content, :tags => []))), :length => 2048) %>  -->
           <%= truncate_html post.content, :length => 1200 %>
         </div>
         <b><%= link_to I18n.t('Read More'), post, :style => "color: #B0201F; float: left;" if strip_tags(sanitize(post.content, :tags => [])).size > 1200 %></b>
       </li>
    <% end %>
  </ul>
<% end %>

<br/>

<% if @images.length > 0 %>
  <ul id="arteria-carousel-images" class="jcarousel-skin-images">
    <% @images.each do |image| %>
      <li><%= link_to (image_tag image.image.url(:thumb)), image.image.url, :id => "image-box", :alt => image.title %></li>
    <% end %>
  </ul>
<% end %>
