  <div class="search">
    <%= form_tag search_posts_path, :method => :get do %>
      <p><%= text_field_tag :query, params[:query] %> <%= submit_tag t('Search') %></p>
    <% end %>
  </div>

  <br/><br/></br>

  <% if @posts.empty? %>
    <%= "<center><h3>No Content Found.</h3></center>".html_safe %>
  <% else %>

  <center>	
  <%= paginate @posts, :window => 8 %>

  <table class="table table-striped">
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td style="font-weight: bold;"><%= link_to post.title, post_path(post), :style => "color: #B7181C" %></td>
          <td><%= truncate(strip_tags(post.content), :length => 1024, :omission => '...') %></td>
          <% if user_signed_in? %>
            <% if  (current_user.id == post.user.id) || (current_user.has_role? :admin) %>
              <td>
                <%= link_to t('.edit',    :default => t("helpers.links.edit")), edit_post_path(post), :class => 'btn btn-mini' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")), post_path(post), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger' %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  </center>
<% end %>
