<%- model_class = Post -%>

<div class="page-header">

  <h3><%= @post.title %></h3>
  <b>Postado por</b> <%= @post.user.firstname %> <b>em</b> <%= I18n.l(@post.created_at) %>
  <br/><br/>

  <%= @post.content.html_safe %>

  <% if user_signed_in? %>
    <% if (current_user.id == @post.user.id) || (current_user.has_role? :admin) %>
      <div class="form-actions">
        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_post_path(@post), :class => 'btn' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")), post_path(@post), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' %>
      </div>
    <% end %>
  <% end %>
</div>
