<div class="search">
  <%= form_tag search_galleries_path, :method => :get do %>
    <p><%= text_field_tag :query, params[:query] %> <%= submit_tag t('Search') %></p>
  <% end %>
</div>

<br/><br/></br>

<% if @galleries.empty? %>
  <%= "<center><h3>No Content Found.</h3></center>".html_safe %>
<% else %>
  <center>

  <%= paginate @galleries, :window => 8 %>

  <div class="accordion" id="#accordion2">
  <% @galleries.each do |gallery| %>
    <div class="accordion-group">

      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= gallery.slug %>">
          <b><%= gallery.title %></b>
        </a>
      </div>

      <div id="<%= gallery.slug %>" class="accordion-body collapse">
        <div class="accordion-inner">
          <table class="table table-striped">
            <tbody>
              <% gallery.items.each do |item| %>
                  <tr>
                    <td>
                      <%= link_to (image_tag item.image.image.url(:thumb)), item.image.image.url, :id => "image-box" if item.image %>
                      <%= link_to (image_tag item.video.video.url(:thumb), :width => "150"), view_videos_path(item.video), :id => "video-box" if item.video %>
                    </td>
                    <td style="font-weight: bold;">
                      <%= link_to item.image.title, image_path(item.image) if item.image %>
                      <%= link_to item.video.title, video_path(item.video) if item.video %>
                    </td>
                    <td>
                      <%= item.image.description if item.image %>
                      <%= item.video.description if item.video %>
                    </td>
                    <td>
                      <%= "Imagem" if item.image %>
                      <%= "Vídeo" if item.video %>
                    </td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  </center>
<% end %>
