<%- model_class = Gallery -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @gallery.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @gallery.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:published) %>:</strong></dt>
  <dd><%= @gallery.published %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @gallery.user.firstname + " " + @gallery.user.lastname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:license_id) %>:</strong></dt>
  <dd><%= @gallery.license.name %></dd>

  <% if  @gallery.items.length > 0 %>
    <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
      <dd>
        <ul id="arteria-carousel-images" class="jcarousel-skin-tango">
          <% @gallery.items.each do |item| %>
           <% if item.image %>  <li><%= link_to (image_tag item.image.image.url(:thumb)), item.image.image.url, :id => "image-box", :alt => item.image.title %></li> <% end %>
           <% if item.video %> <li><%= link_to (image_tag item.video.image.url(:thumb)), item.video.image.url, :id => "image-box", :alt => item.video.title if item.video %></li> <% end %>
          <% end %>
        </ul>
      </dd>
  <% end %>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              galleries_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_gallery_path(@gallery), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              gallery_path(@gallery),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
