<div class="search">
  <%= form_tag search_images_path, :method => :get do %>
    <p><%= text_field_tag :query, params[:query] %> <%= submit_tag t('Search') %></p>
  <% end %>
</div>

<br/><br/></br>

<% if @images.empty? %>
  <%= "<center><h3>#{I18n.t('No Content Found')}.</h3></center>".html_safe %>
<% else %>
  <center>

  <%= paginate @images, :window => 8 %>

  <table class="table table-striped">
    <tbody>
      <% @images.each do |image| %>
        <tr>
          <td><center><%= link_to (image_tag image.image.url(:thumb)), image.image.url, :id => "image-box" %></center></td>
          <td style="font-weight: bold;"><center><%= link_to image.title, image_path(image) %></center></td>
          <td><%= image.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </center>
<% end %>
