              <% @mainmenu.each do |option| %>
                <li><%= link_to option.title, option.url %></li>
              <% end %>

              <li>
                <li class="dropdown">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                    <%= I18n.t("Galleries") %><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li><a tabindex="-1" href="/galleries/">List All</a></li>
                      <% if user_signed_in? %>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/galleries/new">Add New Content</a></li>
                      <% end %>
                    </ul>
                  </li>
              </li>

              <li>
                <li class="dropdown">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                    <%= I18n.t("Audios") %><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li><a tabindex="-1" href="/audios/">List All</a></li>
                      <% if user_signed_in? %>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/audios/new">Add New Content</a></li>
                      <% end %>
                    </ul>
                  </li>
              </li>

              <li>
                <li class="dropdown">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                    <%= I18n.t("Videos") %><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li><a tabindex="-1" href="/videos/">List All</a></li>
                      <% if user_signed_in? %>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/videos/new">Add New Content</a></li>
                      <% end %>
                    </ul>
                  </li>
              </li>

              <li>
                <li class="dropdown">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                    <%= I18n.t("Images") %><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li><a tabindex="-1" href="/images/">List All</a></li>
                      <% if user_signed_in? %>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/images/new">Add New Content</a></li>
                      <% end %>
                    </ul>
                  </li>
              </li>

              <li>
                <li class="dropdown">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                    <%= I18n.t("Posts") %><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li><a tabindex="-1" href="/posts/">List All</a></li>
                      <% if user_signed_in? %>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/posts/new">Add New Content</a></li>
                      <% end %>
                    </ul>
                  </li>
              </li>

              <% if user_signed_in? %>
                <% if current_user.has_role? :admin %>
                  <li>
                    <li class="dropdown">
                      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <%= I18n.t("Settings") %><b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li><a tabindex="-1" href="/users/">Users</a></li>
                        <li><a tabindex="-1" href="/roles/">Roles</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/menus/">Menus</a>
                        <li><a tabindex="-1" href="/licenses/">Licenses</a>
                        </ul>
                      </li>
                  </li>
                <% end %>

                <li id="logout" style="float: right; font-size: 14px;"><%= link_to(t("Logout") + " (" + current_user.firstname + ") ", destroy_user_session_path, :method => :delete) %></li>
              <% else %>
                <li id="login" style="float: right; font-size: 14px;"><%= link_to(t("Login"), new_user_session_path) %></li>
              <% end %>
