              <% @menu.each do |option| %>
                <li><%= link_to option.title, option.url %></li>
              <% end %>

              <li>
                <li class="dropdown">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                    <%= I18n.t("About") %><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li><a tabindex="-1" href="/about/presentation"><%= I18n.t("Presentation") %></a></li>
                    <li><a tabindex="-2" href="/about/mission"><%= I18n.t("Mission") %></a></li>
                    <li><a tabindex="-3" href="/about/team"><%= I18n.t("Team") %></a></li>
                    <li><a tabindex="-3" href="/about/cartography"><%= I18n.t("Cartography") %></a></li>
                    <li><a tabindex="-5" href="/about/contact"><%= I18n.t("Contact") %></a></li>
                    </ul>
                  </li>
              </li>

              <li>
                <li class="dropdown">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                    <%= I18n.t("Galleries") %><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li><a tabindex="-1" href="/galleries/"><%= I18n.t("List All") %></a></li>
                      <% if user_signed_in? %>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/galleries/list"><%= I18n.t("List All My Contents") %></a></li>
                        <li><a tabindex="-1" href="/galleries/new"><%= I18n.t("Add New Content") %></a></li>
                      <% end %>
                    </ul>
                  </li>
              </li>

              <li>
                <li class="dropdown">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                    <%= I18n.t("Projects") %><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li><a tabindex="-1" target="_blank" href="https://mapadacultura.org">Mapa da Cultura</a></li>
                    <li><a tabindex="-1" target="_blank" href="http://redecandanga.com.br">Rede Candanga</a></li>
                  </ul>
                </li>
              </li>

              <% if user_signed_in? %>
                <% if current_user.has_role? :admin %>
<!--
                  <li>
                    <li class="dropdown">
                      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <%= I18n.t("Audios") %><b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li><a tabindex="-1" href="/audios/"><%= I18n.t("List All") %></a></li>
                          <% if user_signed_in? %>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="/audios/list"><%= I18n.t("List All My Contents") %></a></li>
                            <li><a tabindex="-1" href="/audios/new"><%= I18n.t("Add New Content") %></a></li>
                          <% end %>
                        </ul>
                      </li>
                  </li>
-->
              <li>
                <li class="dropdown">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                    <%= I18n.t("Videos") %><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li><a tabindex="-1" href="/videos/"><%= I18n.t("List All") %></a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/videos/list"><%= I18n.t("List All My Contents") %></a></li>
                        <li><a tabindex="-1" href="/videos/new"><%= I18n.t("Add New Content") %></a></li>
                    </ul>
                  </li>
              </li>

              <li>
                <li class="dropdown">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                    <%= I18n.t("Images") %><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li><a tabindex="-1" href="/images/"><%= I18n.t("List All") %></a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/images/list"><%= I18n.t("List All My Contents") %></a></li>
                        <li><a tabindex="-1" href="/images/new"><%= I18n.t("Add New Content") %></a></li>
                    </ul>
                  </li>
              </li>

              <li>
                <li class="dropdown">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                    <%= I18n.t("Posts") %><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li><a tabindex="-1" href="/posts/"><%= I18n.t("List All") %></a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/posts/list"><%= I18n.t("List All My Contents") %></a></li>
                        <li><a tabindex="-1" href="/posts/new"><%= I18n.t("Add New Content") %></a></li>
                    </ul>
                  </li>
              </li>

              <li>
                <li class="dropdown">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                    <%= I18n.t("Settings") %><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li><a tabindex="-1" href="/users/"><%= I18n.t("Users") %></a></li>
                    <li><a tabindex="-1" href="/roles/"><%= I18n.t("Roles") %></a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="/menus/"><%= I18n.t("Menus") %></a>
                    <li><a tabindex="-1" href="/licenses/"><%= I18n.t("Licenses") %></a>
                    <li><a tabindex="-1" href="/rsses/">RSS</a>
                  </ul>
                </li>
              </li>
              <% end %>
                <li id="logout" style="float: right; font-size: 14px;"><%= link_to(t("Logout") + " (" + current_user.firstname + ") ", destroy_user_session_path, :method => :delete) %></li>
              <% else %>
                <li id="login" style="float: right; font-size: 14px;"><%= link_to(t("Login"), new_user_session_path) %></li>
              <% end %>
